@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

#nav1{
    height: 5vh;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.name1, .bi{
    color: #3267FF;
}
#chi{
    display: flex;
}
#calen{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
}
#nav2{
    height: 10vh;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    height: 60px;
    width: 267px;
}
.logo img{
    height: 100%;
    width: 100%;
}
.bi-chevron-down{
    color: black;
}
#nav2 ul{
    display: flex;
    list-style: none;
    width: 55%;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
    cursor: pointer;
}
#but1{
    padding: 13px;
    font-size: 20px;
    color: snow;
    font-weight: 700;
    background-color: #3267FF;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
#home{
    color: #3267FF;
}
/* nav media */
.banner{
    height: 100vh;
    width: 100%;
   
    position: relative;
}
.content{
    height:541px ;
    width:620px ;
   
    position: absolute;
    top: 70px;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
}
#but2{
    height: 36px;
    width: 179px;
    border: none;
    border-radius: 8px;
}
.content h1{
    height: 224px;
    width: 594px;
   
    font-size: 70px;
    line-height: 70px;
}
#spark{
    height: 4vh;
    width: 4vh;
    position: absolute;
    top: 51%;
    left: 65%;
}
.content p{
    height: 76px;
    width: 450px;
   
    word-spacing: 6px;
}
.nurse{
    height: 100%;
    width: 50%;
   
    background-color: rgb(244, 250, 252);
    position: absolute;
    right: 0;
}
.nurse #tag{
 height: 70%;
 width: 70%;
 position: absolute;
 right: 0;
 bottom: 16%;
}
#nur{
    height: 100%;
    position: absolute;
    right: 10% ;
}
#ring{
    height: 50%;
    width: 70%;
    position: absolute;
    right: 10%;
    bottom: 20%;
}
/* banner */

.dappa{
    height: 140px;
    width: 1068px;
   
    background-color: snow;
    border-radius: 10px;
    position: absolute;
    bottom: 10%;
    left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.288);
}
.dappa input{
    height: 5vh;
    width: 25vh;
    border: 1px solid gray;
    border-radius: 6px;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 1%;
    outline: none;
   
}
.bi-send-fill{
    color: snow;
}
#but3{
    height: 5vh;
    width: 25vh;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #3267FF;
    color: snow;
    margin-top: 2%;
    font-weight: 700;
}
.email,.phone,.date{
    font-weight: 700;
}
.ser{
    height: 25vh;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;

}
.ulla{
    height: 175px;
    width: 1220px;
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ulla2{
    height: 100%;
    width: 346px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.ulla2 img{
    height: 7vh;
    width: 7vh;
    background-color: rgb(209, 235, 245);
    border-radius: 5PX;
}
.ulla2 h1{
    font-size: 24PX;
}
.ulla2 p{
 width: 100%;
 text-align: center;
}
.con{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgd{
    height: 100%;
    width: 50%;
   
    position: relative;
}
#tag2{
    height: 70%;
    width:60%;
    position: absolute;
    top: 20%;
    left: 20%;

}
#dent{
    height: 126px;
    width: 126px;
    border-radius: 50%;
    border: 10px solid snow;
    position: absolute;
    top: 30%;
    left: 16%;
}

#per{
    height: 100%;
    position: absolute;
    left: 23%;
}
#dent2{
    height: 126px;
    width: 126px;
    border-radius: 50%;
    border: 10px solid snow;
    position: absolute;
    right: 10%;
    bottom: 27%;
    z-index:1;
}
#kodu2{
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 22%;
}
#sp{
    height: 3vh;
    position: absolute;
    left: 23%;
    bottom: 10%;
    
}
#det{
    height: 100%;
    width: 50%;
   
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}
#but4{
    padding: 8px;
    outline: none;
    color: #3267FF;
    background-color: snow;
    border: 1px solid black;
    border-radius: 8px;
}
#det h1{
    width: 524px;
    height: 128;
    font-size: 45px;
}
#p1{
    height: 76px;
    width: 450px;

}
#p2{
    height: 51px;
    width: 450px;
}
#learn{
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #3267FF;
    color: snow;
}
.deta{
    height: 65px;
    width: 590px;
   
    display: flex;
    flex-wrap: wrap;
}
.info{
    height: 50%;
    width: 50%;
    font-weight: 700;
}
#make{
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: snow;
    color: #3267FF;
    font-weight: 500;
}
.con3{
    height: 100vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.thr{
    height: 100%;
    width: 33%;
    
}
#why{
    color: #3267FF;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-left: 3%;
}
.thr h1{
    width: 403px;
    height: 114px;
    margin-left: 3%;
}
.thr #p3{
    width: 403px;
    height: 76px;
    margin-left: 3%;
}
.long{
    height: 1vh;
    width: 45vh;
  background-color: rgba(136, 136, 136, 0.199);
    border-radius: 4px;
    margin-left: 3%;
}
.cl{
    height: 100%;
    width: 95%;
    background-color: #3267FF;
    border-radius: 4px;
    margin-left: 3%;
}
.long2{
    height: 1vh;
    width: 45vh;
  background-color: rgba(136, 136, 136, 0.199);
    border-radius: 4px;
    margin-left: 3%;
}
.cl2{
    height: 100%;
    width: 87%;
    background-color: #3267FF;
    border-radius: 4px;
    margin-left: 3%;
}
.thr1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.cent{
    margin-top: 10%;
    margin-left: 3%;
}
.th
.thr2 img{
        height: 100%;
}
.box{
    width: 100%;
    height: 50%;
    background-color: snow;
    border-radius: 10px ;
}